<form action="/result" method="POST">
  Valitse pizza:
  <p>
  <input type="radio" name="pizza" value="1"> Frutti di Mare
  <input type="radio" name="pizza" value="2"> Margherita
  <input type="radio" name="pizza" value="3"> Quattro Formaggi
  <input type="radio" name="pizza" value="4"> Quattro Stagioni
  <p>
  Valitse lisät:
  <p>
  <input type="checkbox" name="extra" value="A"> oregano
  <input type="checkbox" name="extra" value="B"> valkosipuli
  <p>
  Erikoistoiveet: <br>
  <textarea name="message" rows="3" cols="50"></textarea>
  <p>
  <input type="submit" value="Lähetä">
</form>